body {
    background-image: url(prism.png);
    font-family: sans-serif;
}

table.center {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid white;
    background-color: black;
    -webkit-text-fill-color: white;
    padding: 4px
}

div.info {
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    min-height: 50px;
    width: 260px;
    border: 3px solid white;
    background-color: black;
    -webkit-text-fill-color: white;
    padding: 4px
}

div.info2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    min-height: 50px;
    width: 400px;
    border: 3px solid white;
    background-color: black;
    -webkit-text-fill-color: white;
    padding: 4px
}

tr {
    margin: 5px;
}

td {
    border: 1px solid white;
    padding: 5px;
}

div.border {
    text-align: center;
    border: 3px solid black;
}

header {
    background-color: grey;
    text-align: center;
    padding: 10px;
}

a.header {
    -webkit-text-fill-color: black;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px;
    border: 1px solid black;
}

h1 {
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px black;
}

footer {
    background-color: grey;
    text-align: center;
    padding: 10px;
    -webkit-text-fill-color: white;
}